<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <link rel="stylesheet" href="../componants/bootstrap/bootstrap.min.css">
    <script src="../componants/bootstrap/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="../componants/bootstrap/popper.min.js"></script>
    <script defer src="../scripts/script_regulare.js"></script>

</head>

<body>

    <table>
        <tr>
            <th>name</th>
            <th>email</th>
            <th>number</th>
            <th>photo</th>
            <th>gender</th>
        </tr>
        <tr>
            <td></td>

        </tr>
    </table>

</body>

</html>